In [1]:
import numpy as np
import pandas as pd

estados = ['MG', 'MG', 'MG', 'SP', 'SP', 'SP', 'ES', 'ES', 'ES']
cidades = ['Caratinga', 'Ipatinga', 'Timóteo', 'Sorocaba', 'Diadema', 'Piracicaba', 'Vila Velha', 'Vitória', 'Guarapari']
dados = [[1848, 92603], [1964, 265409], [1964, 90568], [1654, 687357], [1959, 426757], [1767, 407252], [1535, 501325], [1551, 365855], [1860, 126701]]

multindex = list(zip(estados, cidades))
multindex = pd.MultiIndex.from_tuples(multindex)

df = pd.DataFrame(dados, multindex, ['Fundação', 'População'])

In [4]:
df.index.names = ['Estado', 'Cidade']

In [5]:
df

                   Fundação  População
Estado Cidade
MG     Caratinga       1848      92603
       Ipatinga        1964     265409
       Timóteo         1964      90568
SP     Sorocaba        1654     687357
       Diadema         1959     426757
       Piracicaba      1767     407252
ES     Vila Velha      1535     501325
       Vitória         1551     365855
       Guarapari       1860     126701

In [8]:
df['Fundação']

Estado  Cidade
MG      Caratinga     1848
        Ipatinga      1964
        Timóteo       1964
SP      Sorocaba      1654
        Diadema       1959
        Piracicaba    1767
ES      Vila Velha    1535
        Vitória       1551
        Guarapari     1860
Name: Fundação, dtype: int64