In [1]:
import numpy as np
import pandas as pd

outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

df = pd.DataFrame(np.random.randn(6, 2), index=hier_index, columns= ['A', 'B'])

In [3]:
df

             A         B
G1 1 -1.857389  0.519320
   2 -1.066178  0.801469
   3  0.158050 -1.925227
G2 1 -0.585471 -0.957836
   2  0.270191 -0.628620
   3 -0.403916  1.044516